<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinéFan - Medias</title>
    <link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                <a class="navig-mini" href="/genres">Genres</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="cadre">
        <!-- Section FILMS -->
        <section class="section-accueil">
            <div class="section-titre-ligne">
                <h2 class="titre-section">🎬 Films</h2>
            </div>
            <div class="grille-medias">
                {% for media in films %}
                <a href="/media/{{ media.id }}" class="cadre-media">
                    <div class="cadre-media-image">
                        {% if media.url_image %}
                        <img src="{{ media.url_image }}" alt="{{ media.alt }}">
                        {% else %}
                        <div style="font-size: 48px;">📺</div>
                        {% endif %}
                    </div>
                    <div class="cadre-media-contenu">
                        <h3>{{ media.titre }}</h3>
                        <div class="cadre-media-info">{{ media.genre }} • {{ media.parution }}</div>
                        <div class="cadre-media-description">{{ media.description }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <button onclick="location.href='{{ url_for('liste_films') }}'" id="bouton">Voir plus</button>
        </section>


        <!-- Section SERIES -->
        <section class="section-accueil">
            <div class="section-titre-ligne">
                <h2 class="titre-section">📺 Séries</h2>
            </div>
            <div class="grille-medias">
                {% for media in series %}
               <a href="/media/{{ media.id }}" class="cadre-media">
                    <div class="cadre-media-image">
                        {% if media.url_image %}
                        <img src="{{ media.url_image }}" alt="{{ media.alt }}">
                        {% else %}
                        <div style="font-size: 48px;">📺</div>
                        {% endif %}
                    </div>
                    <div class="cadre-media-contenu">
                        <h3>{{ media.titre }}</h3>
                        <div class="cadre-media-info">{{ media.genre }} • {{ media.parution }}</div>
                        <div class="cadre-media-description">{{ media.description }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <button onclick="location.href='{{ url_for('liste_series') }}'" id="bouton">Voir plus</button>
        </section>

        <!-- Section ACTEURS -->
        <section class="section-accueil">
            <div class="section-titre-ligne">
                <h2 class="titre-section">🎭 Artistes</h2>
            </div>
            <div class="grille-medias">
                {% for artiste in artistes %}
                <a href="/artiste/{{ artiste.id }}" class="cadre-media">
                <div class="affiche">
                    <div style="...">🎭</div>
                    <h3>{{ artiste.prenom }} {{ artiste.nom }}</h3>
                    <div style="...">Artiste</div>
                </div>
                </a>
                {% endfor %}
            </div>
            <button onclick="location.href='{{ url_for('liste_artistes') }}'" id="bouton">Voir plus</button>
        </section>
    </div>
</body>
</html>
