<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ajouter Image</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                <a class="navig-mini" href="/genres">Genres</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <p class="titre">Ajouter une image</p>
    {%if notice != ''%}
        <p>{{ notice }}</p>
    {%endif%}
     <form  method="POST" action="ajoutImg" class="container-formulaire">
        <label for="fichier">Lien de l'image</label>
        <input type="url" name="lien" id="lien">

        <label for="fichier">Nom de fichier</label>
        <input type="text" name="fichier" id="fichier" maxlength="50">

        <label for="fichier">Descriptif court de l'image</label>
        <input type="text" name="alt" id="alt">
        
        <label for="artiste">Artiste</label>
        <input type="text" list="artisteList" id="artiste" name="artiste">
        <datalist id="artisteList">
            {% for a in artistes %}
                <option value="{{ a.id_artiste }}">{{ a.nom }} {{ a.prenom }}</option>
            {% endfor %}
        </datalist>

        <label for="media">Film/Série</label>
        <input type="text" list="mediaList" id="media" name="media">
        <datalist id="mediaList">
            {% for m in medias %}
                <option value="{{ m.id }}">{{ m.titre }}</option>
            {% endfor %}
        </datalist>

        <label for="personnage">Personnage</label>
        <input type="text" list="persoList" id="perso" name="perso">
        <datalist id="persoList">
            {% for p in persos %}
                <option value="{{ p.id_perso }}">{{ p.nom }} {{ p.prenom }}</option>
            {% endfor %}
        </datalist>
        <p><input type="submit" value="Envoyer"> <input type="reset" value="Réinitialiser"></p>

    </form>
</body>
</html>