<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ajouter Artiste</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <p class="titre">Ajouter un artiste</p>
     <form  method="POST" action="ajoutArtiste" class="container-formulaire">
        <label for="nom">Nom</label>
        <input type="text" name=" nom" id=" nom" rows="5" cols="50" maxlength="100">

        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" rows="5" cols="50" maxlength="100" required>
        
        

        <label for="participe">Cet.te artiste a-t-iel participé.e à un film ? (laissez le champ vierge si non)</label>
        <input type="text" list="filmList" id="participe" name="participe">
        <datalist id="filmList">
            {% for m in medias %}
                <option value="{{ m.id }}">{{ m.titre }}</option>
            {% endfor %}
        </datalist>

        <label for="realise">Role de l'artiste</label>
        <input type="text" list="roleList" id="role" name="role">
        <datalist id="roleList">
            {% for r in roles %}
                <option value="{{ r.role }}">{{ r.role }}</option>
            {% endfor %}
        </datalist>

        <br>
        <label for="imgAjout">Souhaitez-vous ajouter une image ? (Attention, les champs suivants ne seront pas pris en compte si vous ne cochez pas la case.)</label>
        <input type="checkbox" name="imgAjout" id="imgAjout" value="True">

        <label for="fichier">Lien de l'image</label>
        <input type="url" name="lien" id="lien">

        <label for="fichier">Nom de fichier</label>
        <input type="text" name="fichier" id="fichier" maxlength="50">

        <label for="fichier">Alt - descriptif cours de l'image</label>
        <input type="text" name="alt" id="alt">
        <p><input type="submit" value="Envoyer"> <input type="reset" value="Réinitialiser"></p>
        
    </form>
</body>
</html>