<header class="barre-de-navigation">
    <div class="cadre">
        <a href="#" class="struct-de-navigation">ARTISTES</a>
    </div>
</header>

<main class="cadre">
    <h1 class="titre">Artistes</h1>

    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                <a class="navig-mini" href="/genres">Genres</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <section class="ligne">
        <div class="colonne-3"><a class="navig-mini" href="#">Les mieux notés</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Les plus regardés</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Coups de coeur récents</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Les étoiles montantes</a></div>
    </section>
</main>
