<header class="barre-de-navigation">
    <div class="cadre">
        <a href="#" class="struct-de-navigation">ARTISTES</a>
    </div>
</header>

<main class="cadre">
    <h1 class="titre">Artistes</h1>

    <nav class="ligne">
        <div class="colonne-3"><a class="navig-mini" href="#">Réalisateurs</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Acteurs</a></div>
    </nav>

    <section class="ligne">
        <div class="colonne-3"><a class="navig-mini" href="#">Les mieux notés</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Les plus regardés</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Coups de coeur récents</a></div>
        <div class="colonne-3"><a class="navig-mini" href="#">Les étoiles montantes</a></div>
    </section>
</main>
