<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Communauté</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                <a class="navig-mini" href="/genres">Genres</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>
{%if UserConnecte == None%}
<title>Veuillez vous connecter afin d'enregistrer votre avis.</title>
<span>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a> - Nouveau.elle sur CinéFan? <a href="/creationcompte">Créez votre compte</a></span>
{%else%}
<p class="titre">Commenter sur {{media.titre}}</p>
    
    <form method='POST' action="/commenter/{{media.id}}" class="container-formulaire">
        <label for="comm">Rédigez votre commentaire</label>
        <textarea id="comm" name="comm" rows="5" cols="50"></textarea>

        <label for="note">Votre note pour {{media.titre}} sur 5</label>
        <input type="range" name="note" min="0" max="5" value="0" required>
        
        <p><input type="submit" value="Envoyer"> <input type="reset" value="Réinitialiser"></p>
    </form>
{%endif%}
</body>
</html>