<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Communauté</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

        <p class="titre">Communauté</p>
    <main class="mainPage">
    <section class="communaute">
        <h4>Commentaires récents</h4>
        {%for elt in comms%}
            <div class="commentaire">
                <p><a href="/media/{{elt.id_media}}">{{elt.titre}}</a> - @{{elt.utilisateur}}</p>
                <p>{{elt.date}}</p>
                <p><i>"{{elt.texte}}"</i><p>
                {%if elt.favori == TRUE%}
                <p>❤️ - Note : {{elt.note}}/5<p>
                {%else%}
                <p>Note : {{elt.note}}/5<p>
                {%endif%}
            </div>
        {%endfor%}
        
    </section>
    <aside class="activity" id="ajoutsCommu">
        <h4>Derniers ajouts</h4>
        {%for elt in ajout%}
        <div class="colonne-3">
            <div class="">
                    <h5 class="..."><a href="/media/{{elt.id_media}}">{{ elt.titre }}</a></h5>
                    <p>Ajouté par @{{elt.cree_par}}</p>
            </div>

        </div>
        {%endfor%}
    </aside>
    <aside class="menuCreer">
        {%if UserConnecte == None%}
        <div class="bloc-header">
            <h2>Participer</h2>
        </div>
        <p class="texte-muted">Connecte-toi pour participer.</p>
        <button class="btn-principal btn-large" onclick="location.href='/login'">
            Se connecter
        </button>
        {%else%}
        <h4>Participer</h4> <br>
        <span><button id="bouton" onclick="location.href='/ajoutMedia'">Ajouter media</button></span> <br>
        <span><button id="bouton"  onclick="location.href='/ajoutArtiste">Ajouter artiste</button></span> <br>
        <span><button  id="bouton"  onclick="location.href='/ajoutPerso">Ajouter personnage</button></span><br>
    
        {%endif%}
    </aside>
</main>
</body>
</html>