<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Connexion</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
<nav class="barre-de-navigation">
        <div class="...">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <a class="navig-mini" href="commu">Communauté</a>
            <a class="navig-mini" href="stats">Statistiques</a>
            <a class="navig-mini" href="chercher">Chercher</a>
            <a class="navig-mini" href="profil">Profil</a>
        </div>
</nav>
<p class="titre">Bienvenue !</p>
<p>{{note}}</p>
<p>Merci de commencer cette exploration de notre catalogue de films et série avec nous.</p>
<span><a href="/login">Connectez-vous</a></span>

</body>

</html>