<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Connexion</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <p class="titre">Connexion</p>
    <form method='POST' action='comptecree'>
        <div class="container-formulaire">
            <label for="nom">Nom </label>
            <input type="text" placeholder="Entrez votre email" name="nom" required>


            <label for="email">Adresse e-mail</label>
            <input type="text" placeholder="Entrez votre email" name="email" required>

            <label for="username">Nom d'utilisateur</label>
            <input type="text" placeholder="Entrez le nom d'utilisateur" name="username" required>

            <label for="password">Mot de passe</label>
            <input type="password" placeholder="Entrez le mot de passe" name="password" required>

            <label for="passwordConfirm">Confirmation</label>
            <input type="password" placeholder="Confirmez votre mot de passe" name="passwordConfirm" required>
            <button type="submit">S'inscrire</button>
        </div>

        <div class="container-inscription">
            <span>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></span>
        </div>
    </form>
    <p>{{note}}</p>
</body>

</html>