<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cinefan.css') }}">
</head>
<body>

    <!-- Header -->
    <header class="barre-de-navigation">
        <div class="cadre">
            <a href="#" class="struct-de-navigation">GENRES</a>
        </div>
    </header>

    <main class="cadre">
        <h1 class="titre">Genres classiques</h1>

        <nav class="ligne">
            {% set genres = ['Horreur', 'Comédie', 'Drame', 'Policier', 'Enfance', 'Thriller', 'Historique', 'Animation', 'Aventure', 'Romantique'] %}
            {% for genre in genres %}
                <div class="colonne-3">
                    <a class="navig-mini" href="{{ url_for('genre_detail', genre_name=genre) }}">{{ genre }}</a>
                </div>
            {% endfor %}
        </nav>

        <h2 class="titre">Catégories spéciales</h2>
        <nav class="ligne">
            {% set categories = ['En famille', 'Entre filles', 'Entre mecs', 'Soirée coup de blues', 'Films culturels'] %}
            {% for cat in categories %}
                <div class="colonne-3">
                    <a class="navig-mini" href="{{ url_for('genre_detail', genre_name=cat) }}">{{ cat }}</a>
                </div>
            {% endfor %}
        </nav>

    </main>

</body>
</html>


</body>
</html>

