<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ media.titre }} - CinéFan</title>
    <link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Les "..." je changerais après, avec le fichier css -->
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                <a class="navig-mini" href="/genres">Genres</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="mainPage">
        <div class="...">
            <div class="...">
                {% if media.url_image %}
                <img src="{{ media.url_image }}" class="..." alt="{{ media.alt }}">
                {% else %}
                <div class="...">📺</div>
                {% endif %}
            </div>
            <div class="...">
                <h1>{{ media.titre }}</h1>
                <p class="..."><a href="/genres/{{media.genre}}">{{ media.genre }}</a> • {{ media.parution }}</p>
                <p class="...">{{ media.description }}</p>
                <button class="..." onclick="location.href='/ajouterEnFavori/{{media.id}}'">❤️ Ajouter aux favoris</button>
                <button class="..."onclick="location.href='/commenter/{{media.id}}'">✍️ Commenter</button>
            </div>
        </div>
        <div class="favs">
            <h4>Réalisé par 
                {% for r in realisateurs %}
                <a href="/artiste/{{ r.id_artiste }}">{{ r.prenom }} {{ r.nom }}</a>
                {% endfor %}
            </h4>
            <br>
            <h4>Personnages :</h4>
            {% for p in personnages %}
                {% if not (p.perso_prenom == 'Prénom' and p.perso_nom == 'Sans') %}
                    <div class="colonne-3">
                        <div class="carte-artiste">
                            <h5 class="artiste-nom">
                                {{ p.perso_prenom }} {{ p.perso_nom }}
                            </h5>
                            <p class="artiste-role">
                                Interprété par
                                <a href="/artiste/{{ p.id_artiste }}">
                                    {{ p.artiste_prenom }} {{ p.artiste_nom }}
                                </a>
                                {% if p.participation_role %}
                                    • {{ p.participation_role }}
                                {% endif %}
                            </p>
                            <a href="/personnage/{{ p.id_perso }}" class="artiste-lien">
                                Voir le personnage
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <aside class="activity">
            <h4>Derniers commentaires</h4>
                {%for elt in comms%}
                    {%if elt.texte != '' or elt.texte != None%}
                        <div class='commentaire'>
                        <p><b>@{{elt.utilisateur}}</b></p>
                        <p>{{elt.date}} <p>
                        <p><i>"{{elt.texte}}"</i><p>
                        {%if elt.favori == TRUE%}
                        <p>❤️ - Note : {{elt.note}}/5<p>
                        {%else%}
                        <p>Note : {{elt.note}}/5<p>
                        {%endif%}
                        </div>
                    {%endif%}
                {%endfor%}
        </aside>
    </div>
</body>
</html>
