<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ media.titre }} - CinéFan</title>
    <link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Les "..." je changerais après, avec le fichier css -->
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="...">
        <div class="...">
            <div class="...">
                {% if media.url_image %}
                <img src="{{ media.url_image }}" class="..." alt="{{ media.alt }}">
                {% else %}
                <div class="...">📺</div>
                {% endif %}
            </div>
            <div class="...">
                <h1>{{ media.titre }}</h1>
                <p class="...">{{ media.genre }} • {{ media.parution }}</p>
                <p class="...">{{ media.description }}</p>
                <button class="..." href="/ajouterEnFavori/{{media.id}}">❤️ Ajouter aux favoris</button>
                <button class="...">✍️ Commenter</button>
            </div>
        </div>
    </div>
</body>
</html>
