<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modification du profil</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>
    <p class='titre'>Modifier le profil</p>
    <form method="post" action="modifprofilDone">
        <div class="container-formulaire">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" placeholder="{{info.nom}}" ><br>

        <label for="biographie">Biographie :</label>
        <textarea id="biographie" name="biographie" rows="4" cols="50" placeholder="{{info.biographie}}">{{info.biographie}}</textarea><br>
            
        <input type="submit" value="Mettre à jour le profil">
        </div>
    </form>
</body>
</html>