<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modification du profil</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
<nav class="barre-de-navigation">
        <div class="...">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <a class="navig-mini" href="commu">Communauté</a>
            <a class="navig-mini" href="stats">Statistiques</a>
            <a class="navig-mini" href="chercher">Chercher</a>
            <a class="navig-mini" href="profil">Profil</a>
        </div>
</nav>

<form method="post" action="modifprofil">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" value="{{info[2]}}" required><br>

    <label for="biographie">Biographie :</label>
    <textarea id="biographie" name="biographie" rows="4" cols="50">{{info[3]}}</textarea><br>

    <input type="submit" value="Mettre à jour le profil">
</form>
</body>
</html>