<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profil de {{info[0]}}</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
<nav class="barre-de-navigation">
        <div class="...">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <a class="navig-mini" href="commu">Communauté</a>
            <a class="navig-mini" href="stats">Statistiques</a>
            <a class="navig-mini" href="chercher">Chercher</a>
            <a class="navig-mini" href="profil">Profil</a>
        </div>
</nav>
<div>
<p><b>{{info[2]}}</b></p>
<p>{{info[0]}}</p>
{%if info[3] == None: %}
<p>Pas de biographie pour le moment.</p>
{%else%}
<p>{{info[3]}}</p>
{%endif%}
</div>
</body>
</html>