<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profil de {{info.nom}}</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="barre-de-navigation">
        <div class="cadre-nav">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <div class="nav-right">
                <a class="navig-mini" href="/commu">Communauté</a>
                <a class="navig-mini" href="/stats">Statistiques</a>
                {%if UserConnecte==None%}
                <a class="navig-mini" href="/profil">Se connecter</a>
                {%else%}
                <a class="navig-mini" href="/profil">Profil</a>
                {%endif%}
                <form action="/search" method="get" class="barre-recherche">
                    <input type="text" name="q" placeholder="Rechercher">
                    <button type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="mainPage">
        <section class="userProfile">
            <article id="basicInfo">
                <div>
                    <h2>{{info.nom}}</h2>
                    <p>@{{info.pseudo}}</p>
                    {%if info.biographie == '': %}
                        <p>Pas de biographie pour le moment.</p>
                    {%else%}
                        <p>{{info.biographie}}</p>
                    {%endif%}
                </div>
            </article>
            <article id='favs'>
                <h4>Favoris</h4>
                {%if favs == []%}
                    <p>{{info.nom}} n'a pas encore ajouté de favoris.</p>
                {%else%}
                {% for i in favs%}
                    {%for movie in i%}
                        <div class="-3">
                            <div class="afficheFavProfil">
                                {% if movie.url_image %}
                                <img src="{{ movie.url_image }}" class="..." alt="{{ movie.alt }}">
                                {% else %}
                                <div class="...">📺</div>
                                {% endif %}
                                <div class="...">
                                    <h5 class="...">{{ movie.titre }}</h5>
                                    <p class="...">{{ movie.genre }} • {{ movie.parution }}</p>
                                    <a href="/media/{{ movie.id }}" class="...">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    {%endfor%}
                {%endif%}
            </article>
        </section>
        <aside class='activity'>
            <button onclick="location.href='modifprofil'" id='ProfilBouton'>Modifier profil</button>
            <br>    
            <div>
                <h4>Derniers commentaires</h4>
                {%if comms == []%}
                    <p>{{info.nom}} n'a pas encore commenté.</p>
                {%else%}
                    {%for elt in comms%}
                        {%if elt.texte != '' or elt.texte != None%}
                            <div class='commentaire'>
                            <a href="/media/{{ elt.id }}"><b>{{elt.titre}}</b><a>
                            <p>{{elt.date}} <p>
                            <p><i>"{{elt.texte}}"</i><p>
                            {%if elt.favori == TRUE%}
                            <p>❤️ - Note : {{elt.note}}/5<p>
                            {%else%}
                            <p>Note : {{elt.note}}/5<p>
                            {%endif%}
                            </div>
                        {%endif%}
                    {%endfor%}
                {%endif%}
            </div>
            <br>
            <div>
                <h4>Statistiques personelles </h4>
                {%if stats == []%}
                    <p>{{info.nom}} n'a pas assez d'activité pour avoir de statistiques.</p>
                {%else%}
                    {%for text in comms%}
                        <p class='stats'> <p>
                    {%endfor%}
                {%endif%}
            </div>
            <button onclick="location.href='deconnexion'" id='ProfilBouton'>Se déconnecter</button>

        </aside>
    </main>
</body>
</html>