{% comment %} Vous devez fournir des
informations statistiques, tels le nombre de films ou/et séries produites par un réalisateur,
le nombre moyen de messages postés par jour par l’ensemble des usagers et par un seul
usager. {% endcomment %}
{% comment %} derniers commentaires laissés sur wtv {% endcomment %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Statistiques</title>
<link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>
<nav class="barre-de-navigation">
        <div class="...">
            <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
            <a class="navig-mini" href="commu">Communauté</a>
            <a class="navig-mini" href="stats">Statistiques</a>
            <a class="navig-mini" href="chercher">Chercher</a>
            <a class="navig-mini" href="profil">Profil</a>
        </div>
</nav>

</body>
</html>