<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinéFan - Statistiques</title>
    <link href="{{ url_for('static', filename='css/cinefan.css') }}" rel="stylesheet">
</head>

<body>

<nav class="barre-de-navigation">
    <div class="cadre-nav">
        <a class="struct-de-navigation" href="/">🎬 CinéFan</a>
        <div class="nav-right">
            <a class="navig-mini" href="/commu">Communauté</a>
            <a class="navig-mini" href="/stats">Statistiques</a>
            <a class="navig-mini" href="/genres">Genres</a>

            {% if UserConnecte == None %}
                <a class="navig-mini" href="/profil">Se connecter</a>
            {% else %}
                <a class="navig-mini" href="/profil">Profil</a>
            {% endif %}

            <form action="/search" method="get" class="barre-recherche">
                <input type="text" name="q" placeholder="Rechercher">
                <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</nav>

<div class="cadre">

    <h1 class="titre">Statistiques</h1>

    <div class="sous-menu-genres">
            <h2>Les mieux notés</h2>
        <div class="ligne">
            {% for media in notes %}
            
                <div class="colonne-3">
                    <div class="commentaire">
                    <h3>{{ media.titre }}</h3>
                    <p>Note moyenne : {{ media.moyenne }}</p>
                    <a href="/media/{{ media.id_media }}">Voir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>

            <h2>Les plus regardés</h2>
        <div class="ligne">
            {% for media in regarde %}
                <div class="colonne-3">
                    <div class="commentaire">
                    <h3>{{ media.titre }}</h3>
                    <p>Nombre de consultations : {{ media.nb_vues }}</p>
                    <a href="/media/{{ media.id_media }}">Voir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>

            <h2>Coups de cœur</h2>
        <div class="ligne">
            {% for media in coeur %}
            <div class="colonne-3">
                <div class="commentaire">
                <h3>{{ media.titre }}</h3>
                <p>Nombre de favoris : {{ media.nb_fav }}</p>
                <a href="/media/{{ media.id_media }}">Voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>

        <a href="{{ url_for('stats_etoiles_montantes') }}" >
            <h2>Étoiles montantes</h2>
        </a>
        <div class="stats-grid">
            {% for media in etoile %}
                <div class="media-card">
                    {% if media.url_image %}
                        <img src="{{ media.url_image }}" alt="{{ media.alt }}">
                    {% endif %}
                    <h3>{{ media.titre }}</h3>
                    <p>Note moyenne : {{ media.note_moyenne|round(2) }}</p>
                    <p>Nombre de commentaires : {{ media.nb_comments }}</p>
                </div>
            {% endfor %}
        </div>
        </div>



</div>

</body>
</html>
